.pagination__container {
  display: flex;
  flex-shrink: 0;
  flex-shrink: 0;
  margin: auto;
  margin-top: auto;
  /* margin-top: auto; */
  padding: 20px 0;
  padding: 20px 0;
}

.pagination__button:disabled {
  opacity: 0.5;
  filter: grayscale(100%);
  cursor: not-allowed;
}

.pagination__container-numbers {
  display: flex;
  padding: 0 10px;
  align-items: center;
  gap: 5px;
}

.pagination__pagesBtn {
  min-width: 21px;
  height: 25px;
  border-radius: 2px;
  color: black;
  font-weight: 600;
  font-size: 14px;
  /* background: white; */
  transition: all 0.2s;
  cursor: pointer;
}

.pagination__pagesBtn:hover {
  background: #e9ecef;
}

.pagination__pagesBtn.active {
  color: var(--color-white);
  background: var(--color-primary);
}

.pagination__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 40px;
  color: #6c757d;
}
