.pagination {
  display: flex;
  flex-shrink: 0;
  padding: 20px 0;
  justify-content: center;
}

.button:disabled {
  opacity: 0.5;
  filter: grayscale(100%);
  cursor: not-allowed;
}

.paginationNumbers {
  display: flex;
  padding: 0 10px;
  align-items: center;
  gap: 5px;
}

.pagesBtn {
  min-width: 21px;
  height: 25px;
  border-radius: 2px;
  color: black;
  font-weight: 600;
  font-size: 14px;
  /* background: white; */
  transition: all 0.2s;
  cursor: pointer;
}

.pagesBtn:hover {
  background: #e9ecef;
}

.pagesBtn.active {
  color: var(--color-white);
  background: var(--color-primary);
}
