.expandContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.itemImage {
  display: block; /* Убираем лишние отступы снизу (inline-элементы дают отступ) */
  width: 100%; /* Растягиваем на всю ширину родителя */
  height: auto; /* Высота подстраивается пропорционально */
  object-fit: cover; /* Картинка заполнит контейнер, сохраняя пропорции */
  object-position: center;
}

.itemDescription {
  font-weight: 500;
  line-height: 140%;
  text-align: left;
}

.link {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
}

.linkBtn {
  color: var(--color-primary);
}

.arrBtn {
  rotate: 180deg;
  width: 18px;
  height: 18px;
}
