.filtersBar {
  padding: 24px;
  background: var(--color-white);
  border-radius: 24px;
  border: 1px solid #e8e8e8;
  display: flex;
  flex-direction: column;
  max-width: 360px;
  min-width: 360px;
}

.content {
  position: relative;
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.closeBtn {
  display: none;
  width: 20px;
  height: 20px;
  justify-self: flex-end;
  margin-block-end: 8px;
}

@media (max-width: 1030px) {
  .filtersBar {
    position: absolute;
    right: 0;
    transition: transform 0.3s ease;
    border-radius: 0;
    display: none;
  }

  .filtersBar.open {
    display: flex;
  }

  .closeBtn {
    display: block;
  }
}
