.header {
  background: var(--color-white);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 15px 112px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

.header__container {
  display: flex;
}

.header__logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__links-list {
  position: relative;
  display: flex;
  gap: 20px;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu-btn-container {
  display: none;
}

.header__links-list-item,
.header__menu-btn {
  border-radius: 12px;
  padding: 6px 10px;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  transition: background-color 0.2s ease;
}

.header__links-list-item:hover {
  color: var(--color-primary);
  background-color: var(--color-bg);
}

.header__logo {
  width: 100%;
  height: 33px;
}

.header__logo-text {
  width: 100%;
  height: 19px;
}

.header__auth {
  position: relative;
}

.header__auth-btn-container {
  display: flex;
  gap: 16px;
}

.header__auth-burger {
  display: none;
  width: 32px;
  height: 32px;
}

.auth__button {
  align-self: center;
}

.header__login-btn {
  width: 100%;
  border: none;
  color: var(--color-primary);
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  background-color: transparent;
}

.header__register-btn {
  width: 100%;
  border: none;
  border-radius: 12px;
  padding: 11px 28px;
  color: var(--color-white);
  font-weight: 500;
  font-size: 18px;
  background-color: var(--color-primary);
}

@media (max-width: 1200px) {
  .header__content {
    padding-inline-start: 30px;
    padding-inline-end: 30px;
  }

  .header__menu-btn {
    display: block;
  }

  .header__menu-btn-container {
    display: flex;
    align-items: center;
  }

  .header__links-list {
    display: none;
  }

  .header__links-list.open {
    position: absolute;
    top: 65px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding: 8px; /* Отступ сверху под кнопку */
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    background: var(--color-white);
    transition: left 0.3s ease; /* Плавное появление */
  }

  .header__auth-btn-container {
    display: none;
  }

  .header__auth-btn-container.open {
    position: absolute;
    top: 50px;
    right: 0px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 6px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    background: var(--color-white);
    transition: left 0.3s ease;
  }

  .header__auth-burger {
    display: flex;
  }

  .header__login-btn,
  .header__register-btn {
    border-radius: 12px;
    padding: 6px 10px;
    color: black;
    font-size: inherit;
    background: var(--color-white);
    transition: background-color 0.2s ease;
  }
}

.header__login-btn:hover,
.header__register-btn:hover {
  color: var(--color-primary);
  background-color: var(--color-bg);
}

@media (max-width: 760px) {
  .header__content {
    padding: 10px;
  }
}
