.questions__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: auto;
  border-radius: 24px;
  padding: 24px 20px;
  background: var(--color-white);
}

.questions__title-container {
  display: flex;
  justify-content: space-between;
  margin-block-end: 24px;
  border-bottom: 1px solid #e8e8e8;
  padding-block-end: 17px;
}

.questions__title {
  justify-self: flex-start;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
}

.questions__title-filterBtn {
  display: none;
  width: 36pxpx;
  height: 36px;
}

.questions__item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-align: left;
}

.questions__item {
  padding: 16px 24px;
  box-shadow: 0px 4px 10px 0px #6a63761a;
}

.questions__item-expand-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.questions__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.questions__item-bullet {
  width: 8px;
  height: 8px;
}

.questions__item-header {
  display: flex;
  justify-content: space-between;
}

.questions__item-header-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.expand-btn {
  width: 24px;
  height: 24px;
}

.arrow {
  display: inline-block;
  line-height: 0;
  transition: transform 0.3s ease;
}

.arrow--open {
  transform: rotate(180deg);
}

.questions__item-meta {
  display: flex;
  gap: 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
}

.questions__item-stat {
  display: flex;
  gap: 12px;
  border-radius: 8px;
  padding: 8px 10px;
  background-color: var(--color-bg);
}

.questions__item-stat-value {
  padding: 2px 4px;
  color: var(--color-white);
  background-color: var(--color-primary);
}

.questions__item-image {
  display: block; /* Убираем лишние отступы снизу (inline-элементы дают отступ) */
  width: 100%; /* Растягиваем на всю ширину родителя */
  height: auto; /* Высота подстраивается пропорционально */
  object-fit: cover; /* Картинка заполнит контейнер, сохраняя пропорции */
  object-position: center;
}

.questions__item-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: left;
}

@media (max-width: 1030px) {
  .questions__title-filterBtn {
    display: block;
    width: 36px;
    height: 36px;
  }
}
