.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: auto;
  border-radius: 24px;
  padding: 24px 20px;
  background: var(--color-white);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}





